.flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.but{
    width:10vw;
    height: 10vw;
}
.block{
    display: block;
}
.span{
    font-size: 200%;
}
h1{
    font-size: 350%;
}
